* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: white;
  background-color: black;
}

:root {
  --primary-color: #f95192;
  --dark-gray: #1c1c1e;
  --green-color: #00c266f7;
  --font-mid: 14px;
  --font-small: 12px;
  --second-color: #84858b;
  --heading-1: 1.5rem;
  --border-color: #363636;
  --bg-color: #1c1c1e;

}