.wallet_comp {
  margin-left: 300px;
  height: 370px;
  width: 370px;
  background-color: var(--bg-color);
  border-radius: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: larger;
}

.wallet_comp .wallet_wrapper {
  height: 100%;
  width: 100%;
  color: rgb(170, 170, 170);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.metamask {
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.metamask img {
  height: 30px;
}

.wallet_wrapper .wallet_footer {
  display: flex;
  justify-content: space-between;
} 

.wallet_wrapper .wallet_footer h5:last-child {
  color: rgb(3, 147, 3);
  cursor: pointer;
}

.metamask h1 {
  flex-grow: 1;
}

#walletconnectbtn {
 font-size: 16px;
 transition: 0.3s;
}

#walletconnectbtn:hover {
  color: white;
}

.metamask:hover{
  background-color: rgba(86, 85, 85, 0.507);
}

.metamask:active {
  color: black;
  background-color: white;
}

#btnHideForWalletComp {
  display: none;
}